.smex-items
smex-items
transient*
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa/*
bak/*
/.litable-lists.el
/.recentf~
/ac-comphist.dat
/elscreen
eshell/*
/init.bak.el
/init.el~
server/*
themes/*
url/*
*~
/recentf
.cache